@using Orchard.ContentManagement

@if (HttpContext.Current.Request.Browser.Crawler)
{
    @Display(Model.Metadata.ChildContent)
}
else
{
    var item = (ContentItem)Model.ContentPart.ContentItem;
    var permalink = new Uri(HttpContext.Current.Request.Url, Url.ItemDisplayUrl(item)).AbsoluteUri;
    
    using (Script.Foot())
    {
        <script type="text/javascript">
            var disqus_shortname = '@Model.DisqusSettings.ShortName';
            var disqus_url = '@permalink';
            var disqus_identifier = '@Model.DisqusUniqueId';

            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    }
    
    <div class="disqus-wrapper">
        <div id="disqus_thread"></div>
        <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
        <a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
}